@model IEnumerable<Game>

<div>
    <h1 class="fw-bolder btn-outline-dark p-3 row">
        <label class="col-9">Game Library</label>
        <a class="col-3 btn btn-primary" asp-area="" asp-controller="Home" asp-action="AddGame"><label class="fw-bolder">Add Game</label></a>
    </h1>
</div>
<div class="row pb-2">
    @if (Model != null && Model.Count() > 0)
    {
        foreach (Game g in Model)
        {
            <div class="col-3 alert-secondary">
                <partial name="_GamePartialView.cshtml" for="@g" />
            </div>
        }
    }
    else
    {
        <h2 class="fw-semibold alert-secondary">No games in library</h2>
    }
</div>