@{
    ViewData["Title"] = "Hopeful Future";
}

<div>
    <h1 class="display-4">@ViewData["Title"]</h1>
    <br />
    <img src="/images/Icon.png" width="170" />
    <p>
        With my future, I would like to hopefully make games on my own or with a group of friends.
        I've already started making games during my time here at Neumont and that experience has showed me that my 
        dream has great hope to be fulfilled.
    </p>
    <br />
    <p>
        Here is a video for the game I made in a class last year:
    </p>
    <br />
    @*Help gotten from https://www.w3schools.com/html/html5_video.asp*@
    <video width="720" controls>
        <source src="/videos/ProjectArla.mp4" type="video/mp4">
        From Platnium Janky Edition (2023)
    </video>
    <iframe frameborder="0" src="https://itch.io/embed/2486952?border_width=5&amp;bg_color=837862&amp;fg_color=000000&amp;link_color=ae0000&amp;border_color=000000" width="560" height="175"><a href="https://haunted-target.itch.io/a-story-remake">A Story (Remake) by Haunted Target</a></iframe>

</div>