
@model IEnumerable<Movie>

<h1>Movie List</h1>

@if (Model != null && Model.Count() > 0)
{
    foreach (Movie m in Model)
    {
        <partial name="_MoviePartialView.cshtml" for="@m" />
        <br />
    }
}
else
{
    <h2>No movies provided</h2>
}