@{
    ViewData["Title"] = "Home Page";  
}
@model Validation

<div>
    <form asp-controller="Home" asp-action="Index" method="post">
        <div class="row">
            <div class="col-4">
                <label for="Name">Name:</label>
                <input asp-for="Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label for="Age">Age:</label>
                <input asp-for="Age" type="number"/>
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
        </div>
        <br />
        <h1>Address</h1>
        <div class="row">
            <div class="col-3">
                <label for="Street">Street:</label>
                <input asp-for="Street"/>
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label for="City">City:</label>
                <input asp-for="City"/>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="col-3">

                <label for="State">State:</label>
                <input asp-for="State"/>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="col-3">

                <label for="ZipCode">Zip Code:</label>
                <input asp-for="ZipCode"/>
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
