@model Validation

@if (Model == null)
{
    <label class="alert-danger">Sorry, no data was provided! ¯\_(ツ)_/¯ </label>
}
else
{
    <label class="accept-policy">Data accepted, Have A Nice Day!!!</label>
}