@{
    ViewData["Title"] = "About Me";
}

<div>
    <h1>Hello, my name is Christian Audin Messenger.</h1>
    <h1 class="small">(I won the lottery on long names I know)</h1>
    <br />
    <img src="/images/brickWall.png" width="680"/>
    <h2>@ViewData["Title"]</h2>
    <p>I don't really know how to do an about me page but, here goes.</p>
    <br />
    <p class="fw-bolder">Things to know about me:</p>
    <br />
    <p>    - I like rhythm games. (If you somehow didn't know already.</p>
    <p>    - I want to run an indie game company.</p>
    <p>    - My first game I ever made was a little unfinished project called <a href="https://haunted-target.itch.io/missingno">A Story</a></p>
    
    <img src="/images/Sophia.png" width="340"/>
</div>
