@{
    ViewData["Title"] = "My Past";
}

<div>
    <h1 class="display-4">@ViewData["Title"]</h1>
    <br />
    <img src="/images/ps4.jpg" width="340" />
    <p>In my past before Neumont I knew I wanted to make video games. 
        I knew and still know that learning to make games is way harder than 
        I think but in the words of younger me before I took Japanese class, "I'm up for a challenge!"</p>
    <br /><br />
    <p>Since I want to make games, I also had learnt and self-taught myself many other 
        elements of game design in highschool. I had learnt digital art, taught myself some 
        basics of music production, and I took classes for computer science. (Out of all, computer science is 
        my favorite with art and music tied for second)
    </p>
    <img src="~/images/Iridium-192.png" width="280" />
</div>